body{
  background-image: url(https://images.unsplash.com/photo-1534193708707-6be94c4f67d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2534&q=80);
  font-family: 'Raleway', sans-serif;
  margin: 2% 5%;
}
#allbios{
  display: flex;
  justify-content: space-evenly;
 
}
img{
  display: block;
  filter: grayscale(100%);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
  width: 200px;
}
img:hover{
  filter: grayscale(0);
}
h1{
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}
h2{
  font-size: 2em;
  font-weight: 500;
  margin: 2%;
  text-align: center;
}

section>p{
  margin: 10px;
  line-height: 22px;
}
.bio {
  width:15%;
  margin: 2%;
  border: 1px solid black;
  flex-grow: 1;
}
button{
  align-items: center;
  background-color: black;
  border: black;
  border-radius: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 2%;
  text-align: center;
  text-decoration: none;
  
}
footer {
  text-align: center;
}

button:hover {
  color: #DEAA1F; 
}