body {
  background-color: black;
  background-image: url("../img/scary-clown.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#tryagain{
  margin-top: 15%;
}

h1 {
  color: #9d211f;
  font-size: 5em;
  font-family: 'Germania One', cursive;
  line-height: 1.3em;
}


a {
  color: white;
  font-display: block;
  line-height: 1.7em;
  font-size: 3em;
  font-family: 'Big Shoulders Text', cursive;
  font-weight: bolder;
  text-decoration: none;
}
  
a:hover {
  color: #DEAA1F; 
}
