#text {
    font-family: 'Big Shoulders Text', cursive;
    position: absolute;
    padding-left: 32.5%;
    padding-top: 15%;
    text-align: center;
}

body{
    background-color: black;
    height: 70%;
    vertical-align: middle;
    background-image: url('../img/hall.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    color: whitesmoke;
}

a{
    font-size: 2em;
    color: #992624;
    font-family: 'Big Shoulders Text', cursive;
    text-decoration: none;

}

a:hover{
    color: #DEAA1F;
}