body{
    background-color: black;
    text-align: center;
    color: white;
}

h1{
    color: grey;
    font-size: 5rem;
    padding-bottom: 10px;
}
#answer {
    position: absolute;
    top: 500px;
    left: 700px;
  }

  #gameOver {
    position: absolute;
    top: 500px;
    left: 700px;
  }