header {
  display: inline-flex;
  line-height: 3em;
}
body {
  color: white;
  background-color: black;
  text-align: center;
}

h1 {
  color: lightgrey;
  font-size: 5rem;
}
#centerPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header>p{
  color: #5b1615;
  font-size: 2.8em;
  font-family: 'Eater', cursive;
  -webkit-text-stroke: 1px black;
  padding-right: 20px;
  margin-top: 5px;
 }

#riddle{
  color: white;
  font-family: 'Franklin Gothic regular', 'Arial Narrow', Arial, sans-serif; 
  font-size: 1.8em;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
}

#playerNav {
  color: #DEAA1F;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 2rem;
  float: right;
  margin-top: 10px; 
  margin-left: auto;
  margin-right: 10px;
}
#playerName {
  color: white;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 2em;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
#life {
  color: #2d75be;
  display: inline-flex;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
} 

#lifeicon {
  float: right;
  margin-left: 23px;
  margin-top: 3px;
}

#answer{
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#gameOver {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}