body{
  background-color: black;
  color: white;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#wrong {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1
}

#riddle{
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 15px;
}